# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true
node-options=--max-old-space-size=8192

# For China 🇨🇳 developers
# electron_mirror=https://npmmirror.com/mirrors/electron/
