@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  overflow-x: hidden;
}
.wqoute {
  font-family: "Brush Script MT", "Cursive", "Pacifico", cursive;
}
.bod {
  border-width: 10px;
}

.dottedb {
  background: radial-gradient(circle, #29282820 1px, white 0); /* Dots */
  background-size: 20px 20px; /* Adjust the size of the background pattern */
}
.dottedb1 {
  background: radial-gradient(circle, #2c2b2b20 1px, #000000 0); /* Dots */
  background-size: 20px 20px; /* Adjust the size of the background pattern */
}
.gridb {
  background: linear-gradient(to right, #d7d7da 1px, #d7d7da 1px),
    linear-gradient(to bottom, white 1px, #fafafa 1px);
  background-size: 20px 20px; /* Adjust the size of the grid */
}
.gridb1 {
  background: linear-gradient(to right, #fffdd5 1px, transparent 1px),
    linear-gradient(to bottom, #fffdd5 1px, #faeed1 1px);
  background-size: 20px 20px; /* Adjust the size of the grid */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
} */
button {
  border: none;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}

.inputcontrol {
  caret-color: white; /* Customize the caret color */
  font-size: 15px; /* Adjust font size to modify caret size */
  animation: caret-blink 1s infinite step-end; /* Control blinking rate */
}

.scripturetext:hover {
  text-decoration: underline;

  /* text-combine-upright: initial; */
}

@font-face {
  font-family: "Anton SC";
  src: url("/fonts/antonsc.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Big Shoulders Thin";
  src: url("/fonts/bigshouldsvw.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bitter Thin";
  src: url("/fonts/bittervw.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Oswald ExtraLight";
  src: url("/fonts/oswaldv.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Archivo Black";
  src: url("/fonts/archivoblack.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Thin";
  src: url("/fonts/robotovw.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cooper Black";
  src: url("/fonts/COOPBL.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Haettenschweiler";
  src: url("/fonts/HATTEN.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Teko Light";
  src: url("/fonts/teko.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Alumini Sans Black";
  src: url("/fonts/aluminisans.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
